.alterBody{
    background-image: linear-gradient(to right,#0f0c29,#302b63,#24243e);
    background-repeat: no-repeat;

}
.btn-danger{
    background-color: red;
    height: 20px;
    width: 40px;
    border-radius: 2px;
    color: white;
}
.btn-primary{
    background-color: rgb(20, 181, 245);
    height: 20px;
    width: 40px;
    border-radius: 2px;
    color: white;
}
#DelButton{
    float: left;
    margin-right: 40px;
    height: 50px;
    width: 80px;
}
.heading{
    color: #050505;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    line-height: 30px;
    text-decoration: underline;
}
input{
    font-family: 'Nunito', sans-serif;
    outline: none;
    height: 25px;
    border-width: 0 0 2px;
    border-color: #7248BC;
}
input:focus {
    border-color: green
}
.inputError{
    color: rgb(255, 0, 0);
    margin: 5px 20px;
    width: 500px;
    text-align: center;
    display: none;
    
}
input[type="radio"] {
    margin-right: 0;
}
label{
    font-family: 'Merriweather', serif;
    font-size: 20px;
    text-align: left;
}
.leftSideForm{
    width: 40%;
    float: left;
    text-align: left;
    margin-left: 40px;
}
.leftSideForm input{
    width: 250px;
}
.leftSideForm label{
    display: inline-block;
    width: 40%;
}
.mainForm{
    width: 95%;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    padding: 20px 0px;
    float: left;  
    margin-left: 30px; 
    margin-top: 40px;
}
.mid{
    clear: both;
    text-align: left;
    margin-left: 40px;
    width: 100%;
}
.mid label{
    width: 20%;
    display: inline-block;
}
.rightSideForm{
    width: 40%;
    float: right;
    text-align: left;
    margin-right: 40px;
}
.rightSideForm input{
    width: 250px;
}
.rightSideForm label{
    display: inline-block;
    width: 40%;
}
select{
    width: 250px;
    outline: none;
    height: 25px;
    border-width: 0 0 2px;
    border-color: #24243e;
}
#showResult{
    width: 30px;
    float: right;
    height: 100px;
    background-color: white;
    position: relative;
    color: #0f0c29;
    margin-top: 40px;
}
#showResultCenter{
    margin: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#showResult:hover{
    cursor: pointer;
    border-left: 2px solid white;
    background-color: #302b63;
    color: white;
    border-radius: 2px;
}
#showResult:hover button{
    background-color: #302b63;
    color: white;
}
span{
    color: red;
}
#submitBtn{
    height: 50px;
    width: 150px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.5s;
}
#submitBtn:hover{
    background-color: #24243e;
    color: white;
    border-radius: 8px;
    width: 200px;
    border-width: 0 0 2px;
    border-color: white;
}
.suscribe{
    clear: both;
    width: 100%;
    margin-bottom: 50px;
}
.recordTable{
    position: fixed;
    width: 98%;
    height: 600px;
    border: 3px solid #f1f1f1;
    z-index: 3;
    margin: 0 auto;
    border-radius: 10px;
    top: 70px;
    background-color: whitesmoke;
}
.recordTable table{
    margin: 0 auto;
    width: 100%;
    background-color: white;
}

.tableData{
    border: 2px solid #0f0c29;
    border-collapse: collapse;   
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px; 
}
tr{
    margin: 3px;
    border-radius: 2px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}
.tableContainer{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right,#0f0c29,#302b63,#24243e);
    background-repeat: no-repeat;
    display: none;
    text-align: center;
}

.tableContainer span{
    text-align: right;
    font-size: 50px;
    color: white;
    padding-right: 30px;
    float: right;
}
.tableContainer span:hover{
    font-size: 55px;
    color: whitesmoke;
    cursor: pointer;
}